* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px;
}

.label {
    border: 2px solid #000;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}

.divider {
    border: 1px solid #888989;
    margin: 2px 0;
}

.thick-divider {
    border: 4px solid #000;
}

.bold {
    font-weight: 800;
}

p {
    display: flex;
    justify-content: space-between;
}

.small-text {
    font-size: 0.85rem;
  }

  .left-container p {
    font-size: 2em;
    font-weight: 700;
    margin: -5px -2px;
  }

  .calories-info span {
    margin: -7px -2px;
    font-size: 2.4em;
    font-weight: 700;
  }

  .calories-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }